@font-face {
  src: url("../fonts/raleway/Raleway-Light.ttf");
  font-family: "Raleway";
  font-weight: 300; }

@font-face {
  src: url("../fonts/raleway/Raleway-Regular.ttf");
  font-family: "Raleway";
  font-weight: 400; }

@font-face {
  src: url("../fonts/raleway/Raleway-Medium.ttf");
  font-family: "Raleway";
  font-weight: 500; }

@font-face {
  src: url("../fonts/raleway/Raleway-Bold.ttf");
  font-family: "Raleway";
  font-weight: 700; }

@font-face {
  src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
  font-family: "Raleway";
  font-weight: 800; }
